:root {
    --aurora-blue-500: #3b82f6;
    --aurora-indigo-300: #a5b4fc;
    --aurora-blue-300: #93c5fd;
    --aurora-violet-200: #ddd6fe;
    --aurora-blue-400: #60a5fa;
}

.aurora-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #09090b; /* Zinc 950 */
    contain: strict;
    overflow: hidden;
    z-index: -2;
    transition: background-color 0.3s;
}

.aurora-gradient {
    position: absolute;
    inset: -10px;
    opacity: 0.5;
    filter: blur(10px) invert(1);
    background-image: var(--dark-gradient), var(--aurora);
    background-size: 300% 200%;
    background-position: 50% 50%, 50% 50%;
    animation: aurora 60s linear infinite;
    pointer-events: none;
    will-change: transform;
    
    --aurora: repeating-linear-gradient(
        100deg,
        var(--aurora-blue-500) 10%,
        var(--aurora-indigo-300) 15%,
        var(--aurora-blue-300) 20%,
        var(--aurora-violet-200) 25%,
        var(--aurora-blue-400) 30%
    );

    --dark-gradient: repeating-linear-gradient(
        100deg,
        #000 0%,
        #000 7%,
        transparent 10%,
        transparent 12%,
        #000 16%
    );
}

.aurora-gradient::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--dark-gradient), var(--aurora);
    background-size: 200% 100%;
    background-attachment: fixed;
    mix-blend-mode: difference;
    animation: aurora 60s linear infinite;
}

@keyframes aurora {
    from {
        background-position: 50% 50%, 50% 50%;
    }
    to {
        background-position: 350% 50%, 350% 50%;
    }
}
